.header {
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 2px 10px 1px #00000026;
    box-sizing: border-box;
    color: #666666;
    display: flex;
    height: 80px;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    z-index: 1000;
    .header-logo {
        box-sizing: border-box;
        margin:15px;
        height: 100%;
        img {
            height: 100%;
        }
    }
    .search {
        align-items: center;
        display:flex;
        justify-content: center;
        button {
            background-color: #e2001a;
            border: 1px solid #e2001a;
            box-sizing: border-box;
            color: white;
            cursor: pointer;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 16px;
            height: 35px;
            width: 50px;
            &:hover {
                background-color: red;
                border-color: red;
            }
        }
        .searchBar {
            border: none;
            background-color: #fdfdfd;
            box-sizing: border-box;
            height: 35px;
            margin: 15px;
            padding: 7px;
            width: 200px;
        }
    }
}